// Gobierno Abierto 2019
@import "colors";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.btn-success {
    background-color: $success;
    border: 3px solid $success;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.navbar-inverse.red {
    color: white !important;
    background-color: $grey-one;
    border: unset !important;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

#you-org {
    margin-top: 0 !important;
}

#proposalFilterForm {
    .control-label {
        color: white !important;
        margin-bottom: 1rem;
    }
}

.badge {
    background-color: $success;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    border-radius: 2px;
}

.label-success {
    background-color: $success;
    color: white;
    font-weight: bold;
}

/*RED CIUDADANA THEME*/

.navbar-inverse {
    border-bottom: 0;
}

.navbar-inverse.white {
    background-color: red !important;
}

// RFC BOOTSTRAP 4

h1, .h1 {
    font-size: 2.5rem;
}

h2, .h2 {
    font-size: 2rem;
}

h3, .h3 {
    font-size: 1.75rem;
}

h4, .h4 {
    font-size: 1.5rem;
}

h5, .h5 {
    font-size: 1.25rem;
}

h6, .h6 {
    font-size: 1rem;
}

/*Dont uppercase*/
h1,
h2,
h3,
h4,
h5,
h6,
.badge,
label.control-label {
    font-family: 'Montserrat', sans-serif;
    text-transform: none !important;
    letter-spacing: 0;
}

.navbar {
    min-height: 120px;
}

.navbar-toggle {
    margin-top: 20px;
}

.navbar-header {
    min-height: 80px;
}

.navbar-brand {
    padding: 10px;
    img {
        height: 100px;
        margin-left: 0;
    }
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: $success;
}

.navbar-nav {
    min-height: 80px;

    li a {
        text-align: center;
        padding-top: 30px;
        padding-left: 20px;
    }
}

.fa-stack {
    line-height: 0 !important;
}

#you-org {
    margin-top: 0px;
}

.bajada {
    // Text
    color: #6b6d80;
    // Layout
    margin-top: -30px;
}

.btn-blue {
    background-color: $yellow;
    color: white;
}

.btn-blue:hover {
    color: white !important;
}

.btn-apoyo {
    background-color: #eb665f !important;
    cursor: pointer;
}

.btn-apoyo:hover {
    background-color: lighten(#eb665f, 20%) !important;
}

#footer .logo-red {
    img {
        opacity: 1 !important;
        height: 75px;
        display: inline;
    }
}

body {
    color: #6b6d80;
}

.label-default {
    background-color: #eb665f;
}

.container-fluid.filter {
    padding: 30px 0 30px;
}

.proposals_count {
    margin-bottom: 30px;
}

.btn-login {
    height: 30px;
    margin: 25px;
    padding: 5px 15px !important;
    border-radius: 5px;
}

.fa.fa-circle.fa-stack-2x {
    color: white !important;
    margin: -19px 0;
}

.fa.fa-twitter.fa-stack-1x.fa-inverse,
.fa.fa-facebook.fa-stack-1x.fa-inverse {
    color: #2C3447 !important;
}

textarea::placeholder,
input[type="text"]::placeholder {
    color: #6b6d80 !important;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-transform: none;
}

html .navbar_visible,
body .navbar_visible {
    padding-top: 70px;
}

select.form-control,
.form-group .control-label input {
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
    letter-spacing: normal;
    text-transform: none;
}

// Footer

.un-proyecto-de {
    display: block;
    text-align: center;
}

@media (min-width: 768px) {
    .un-proyecto-de {
        display: inline-flex;
        text-align: left;

        .small {
            width: 40%;
        }

        .logos {
            width: 60%;
        }
    }
}

.redes {
    text-align: center;
}

@media (min-width: 768px) {
    .redes {
        text-align: right;
    }
}

.bg-1 {
    background-color: #eb665f;
    color: white;

    h2 {
        text-transform: uppercase !important;
        color: white;
        font-weight: 900;
        font-size: 16px;
        font-family: "Arvo", serif;
    }

    p {
        text-align: center;
        margin: 10px;
    }
}

.bg-2 {
    background-color: #f8ae42;
    color: white;

    h2 {
        text-transform: uppercase !important;
        color: white;
        font-weight: 900;
        font-size: 16px;
        font-family: "Arvo", serif;
    }

    p {
        text-align: center;
        margin: 10px;
    }
}

.gallery > div > a {
    display: block;
    width: 100%;
    transition: 0.1s transform;
    transform: translateZ(0); /* hack */
}

.gallery > div:hover {
    z-index: 1;
}

.gallery > div:hover > a {
    transform: scale(2, 2);
    transition: 0.3s transform;
}

.image-gallery-cf {
    width: 100%;
    max-width: 230px;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover {
    color: #fff;
    background-color: #eb665f;
}

.elecciones2019 span {
    display: block;
    font-size: 0.8rem;
    text-align: center;
    color: white;
}

.elecciones2019:hover span {
    color: #f8ae42;
}

.gallery {
    text-align: center;
}

.gallery > div {
    float: unset;
}

.material.videos {
    text-align: center;
}

@media (min-width: 768px) {
    .material.videos h3 {
        text-align: left;
    }
}

#homepageslider {
    width: 100%;
    background-color: $grey-one;

    .container {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    // TODO: Alinear verticalmente
    h1 {
        text-align: center;
        font-size: 4.5rem;
        color: white;
        margin-top: 4.5rem;
    }

    img {
        text-align: center;
        width: 100%;
        max-width: 750px;
    }
}

$sm: 768px;
$md: 992px;
$lg: 1200px;

@media (min-width: $lg) {
    #homepageslider {
        h1 {
            text-align: left;
        }
    }
}

.propuesta {
    border: unset;
    box-shadow: 8px 9px 11px -1px rgba(0,0,0,0.27);
    background-color: white;
}

.container-light {
    width: 100%;
    background-color: $light;
}

.share-card {
    border-radius: 0 0 10px 10px;
}

#highlighted-proposals {
    padding: 0;
}

.padding-section {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
}

.bajada {
    font-family: 'Montserrat', sans-serif;
}

.dark {
    background-color: $dark;
}

.btn {
    font-weight: 500 !important;
}
