{% load staticfiles %}
{% load i18n %}
{% load votainteligente_extras %}
<footer id="footer" class="{% if show_xs %} hidden-sm hidden-xs{% endif %}">
    {% block extrafooter %}
    {% endblock extrafooter %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 un-proyecto-de">
                <span class="small">{% trans "Un proyecto de" %}</span>
                <div class="logos" style="display: flex;">
                    <a class="logo-red">
                        <img
                            src="{% static 'img/LOGOTIPO_GA_02.png' %}"
                            class="img-responsive"
                            title="Gobierno Abierto"
                            alt="Gobierno Abierto"
                        />
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 text-right redes">
                <ul class="list-inline">
                    <li><a href="info@redciudadana.org.gt" class="email-prensa" target="_top"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                    <li><a target="_blank" href="https://www.facebook.com/Redciudadanagt"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a target="_blank" href="//twitter.com/RedXGuate"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
        <div>
            {% if "extra_footer.html"|template_exists %}
                {% include 'extra_footer.html' %}
            {% endif %}
        </div>
    </div>
</footer>
