{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load votainteligente_extras %}
{% load cache %}
{% block entire_navbar %}

<div
    class="navbar navbar-inverse {% if fixed_nav_class %}{{fixed_nav_class}}{% else %}navbar-fixed-top{% endif %} {% block navbar_background %} red {% endblock navbar_background %}"
    id="navbar"
>
    <div style="padding-left: 40px;padding-right: 40px;">
        <div class="navbar-header">
            <button
                type="button"
                class="navbar-toggle"
                data-toggle="collapse"
                data-target=".navbar-collapse"
            >
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/" style="padding-top: 20px;">
                        <img src="{% static 'img/LOGOTIPO_GA_02.png' %}" title="Gobierno Abierto" alt="Gobierno Abierto"
                            height="50" />
                    </a>
                </li>
                <li>
                    <a href="/" style="padding-top: 20px;">
                        <img src="{% static 'img/LogoGAE2020p.png' %}" title="Gobierno Abierto" alt="Gobierno Abierto"
                            height="40" />
                    </a>
                </li>
            </ul>
        </div>
        {% block navbar %} {% block extra_nav %} {% endblock extra_nav %}
        <style>
            .navbar-nav li a {
                text-align: center !important;
            }
        </style>
        <div class="collapse navbar-collapse" style="margin-top: 20px;">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="https://gobiernoabierto.transparencia.gob.gt/">
                        Gobierno Abierto Guatemala
                    </a>
                </li>
                <li>
                    <a
                        href="{% url 'que_es' %}"
                        onclick="ga('send', 'event', 'nav-que-es', 'click')"
                        >{% trans "Descripción y Metodología" %}</a
                    >
                </li>
                <li>
                    <a
                        href="{% url 'popular_proposals:home' %}"
                        onclick="ga('send', 'event', 'nav-conoce-propuestas', 'click')"
                    >
                        {% trans "Propuestas ciudadanas" %}
                    </a>
                </li>

                {% include '_dropdown_user.html' %}

                <li>
                    <a
                        href="#"
                        onclick="ga('send', 'event', 'nav-twitter-share', 'click'); window.open(&quot;//twitter.com/share?via=ComisionGAE&hashtags={{ config.WEBSITE_TWITTER_HASHTAG }}&text={{ config.WEBSITE_TWITTER_TEXT }}&quot;,&quot;twitter&quot;,&quot;width=450, height=250&quot;)"
                        style="padding-top: 20px;"
                    >
                        <img
                            src="{% static 'img/redes-06.png' %}"
                            title="Gobierno Abierto"
                            alt="Gobierno Abierto"
                            height="35"
                        />
                    </a>
                </li>
                <li>
                    <a
                        class="share-btn share-btn-branded share-btn-facebook"
                        onclick="ga('send', 'event', 'nav-facebook-share', 'click');"
                        href="//www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fpropuestas.gobiernoabierto.gt"
                        title="{{ config.WEBSITE_METADATA_DESCRIPTION }}"
                        target="_blank"
                        style="padding-top: 20px;"
                    >
                        <img
                            src="{% static 'img/redes-07.png' %}"
                            title="Gobierno Abierto"
                            alt="Gobierno Abierto"
                            height="35"
                        />
                    </a>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
        {% endblock navbar %}
    </div>
</div>
{% endblock entire_navbar %}
