{% extends "base.html" %}
{% load staticfiles %}
{% load votainteligente_extras %}
{% load i18n %}

{% load thumbnail %}
{% load cache %}

{% block everything %}
  <section id="homepageslider">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="text-center" style="text-align: center; margin-bottom: 1rem">
            Participa en el <br>
            5to. Plan de Acción Nacional de <br>
            Gobierno Abierto 2021-2023
          </h1>
          <h3 class="text-center" style="text-align: center; margin-bottom: 6rem; color: white;display: none;">
          </h3>
        </div>
      </div>
    </div>
  </section>

  <section id="highlighted-proposals">
    <div class="container padding-section">
      <div class="row">
        <div class="col-xs-12">
          <h1
            class="text-center"
          >
            Tenemos {{total_proposals}} propuestas ciudadanas
          </h1>

          {% include 'popular_proposal/_filter_tag_form.html' %}

          {% url 'popular_proposals:propose_wizard_full_without_area' as create_proposal_url %}
          <div class="text-center">
            <a href="{{create_proposal_url}}" class="btn btn-success">
              Crear nueva propuesta
            </a>
          </div>

          <h5 class="text-muted text-center h6 mb-4">
            <a href="{% static '/Términos y Condiciones (Propuestas de Gobierno Abierto) - Disclaimer 1.pdf' %}" target="_blank">
              Ver disclaimer
            </a>
          </h5>
        </div>
      </div>
    </div>
    <div class="container-light padding-section">
      {% include 'popular_proposal/_lista_propuestas.html' with popular_proposals=featured_proposals form=Nil hide_proposal_list_header=True hidden_search=True hidden_bars=True %}
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <p
              class="text-center"
            >
              <a
                href="{% url 'popular_proposals:home' %}"
                class="btn btn-success"
              >
                Ver todas las propuestas
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% cache 600 organization_logos %}
    {% organization_logos %}
  {% endcache %}

  <img src="{% static 'img/slider/barras.png' %}" class="img-responsive w-100" alt="Barras de colores">

  <section id="you-org" class="grey-one">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p>
            ¿Eres una organización y quieres estar aquí?
            <a
              href="{% url 'login_users' %}"
              class="btn btn-blue"
              onclick="ga('send', 'event', 'home-invitacion-ong', 'click')"
            >
              Ingresa
            </a>
          </p>
        </div>
      </div>
    </div>
  </section>
{% endblock everything %}
