{% extends "base.html" %}
{% load i18n %}

{% block everything %}
{% load staticfiles %}

<div class="container">
    <div>
      <h1>{% trans "¿Qué es Gobierno Abierto?" %}</h1>
    </div>
</div>
<section id="que-es">
  <div class="container">
    <div class="col-md-6">
      {% url 'encuentro_ciudadano' as encuentro_ciudadano_url %}

      <p style="text-align: justify;">
        {% blocktrans %}
          Las propuestas ciudadanas son una serie de solicitudes provenientes de los distintos grupos y sectores sociales que
          surgen de demandas e intereses pero principalmente de las necesidades sociales que se considera necesaria su atención
          por parte de los gobiernos en turno fundamentadas en los principios de la Alianza Mundial para el Gobierno Abierto
          AGA-OGP, siendo estos, transparencia, participación ciudadana y colaboración, tomando en cuenta las temáticas definidas
          en el Foro Multiactor de la Iniciativa de Gobierno Abierto en Guatemala, con base al eje del 5to. Plan de Acción
          Nacional de Gobierno Abierto 2021-2023, “Transparencia en la Gestión Pública y Presupuesto del Estado”.
          <br>
          <br>
          Tienen como finalidad ser un insumo para el proceso de co creación de los compromisos e hitos del Plan en mención, para
          la definición de acciones gubernamentales a ser materializadas durante el período comprendido entre el 31 de agosto de
          2021 y el 31 de agosto de 2023, bajo el acompañamiento de los grupos y sectores de la sociedad representados en los
          distintos espacios de la Iniciativa de Gobierno Abierto en Guatemala.
          <br>
          <br>
          Propuestas Ciudadanas de Gobierno Abierto, es una plataforma desarrollada por Red Ciudadana de Guatemala que busca el
          fortalecimiento institucional, incentivar la participación ciudadana, auditoría social y transparencia. Podrán los
          ciudadanos y ciudadanas hacerse escuchar a través de propuestas concretas que busquen el bien común.
          <br>
          <br>
          En la plataforma cualquier persona, organización, colectivo o grupo de personas pueden generar sus propias propuestas
          que aborden los temas que más les preocupan.
          Una vez subidas en la página, cualquier persona puede conocer y apoyar las propuestas a través de un “APOYAR ”. Además,
          las organizaciones no gubernamentales que participan en la plataforma pueden patrocinar propuestas de otras personas u
          organizaciones. Desde Gobierno Abierto promovemos que las propuestas sean construidas colectivamente.
          <br>
          <br>
          Esta plataforma de propuestas ciudadanas, se crea bajo la línea de cumplir y defender los principios de un Gobierno
          Abierto y transparente. Cuando el gobierno trabaja con la sociedad civil para crear planes de acción con reformas
          concretas y cuando el ciudadano y ciudadana asume su responsabilidad y compromiso de participar activamente, se
          fortalece la democracia y las instituciones se vuelven más democráticas. Crear propuestas ayuda a garantizar que los
          ciudadanos desempeñen un papel en la configuración y supervisión del Gobierno.
        {% endblocktrans %}
      </p>
    </div>
    <div class="col-md-6">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/7x6HqvwEFVs" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
      <img src="{% static 'img/metodologia.png' %}" alt="6 Temas principales" style="width: 100%;">
    </div>
  </div>
  <div class="line-space"></div>
  <div class="line-space"></div>
</section>


{% endblock everything %}
