{% extends "base.html" %}
{% load i18n %}

{% block everything %}
{% load staticfiles %}

<div class="container">
    <div>
      <h1>{% trans "¿Qué es Gobierno Abierto?" %}</h1>
    </div>
</div>
<section id="que-es">
  <div class="container">
    <div class="col-md-6">
      {% url 'encuentro_ciudadano' as encuentro_ciudadano_url %}

      <p>
        {% blocktrans %}
          <strong>Propuestas Ciudadanas de Gobierno Abierto, es una plataforma desarrollada por Red Ciudadana de Guatemala</strong> que busca el fortalecimiento institucional,  incentivar la participación ciudadana, auditoría social y transparencia. Podrán los ciudadanos y ciudadanas hacerse escuchar a través de propuestas concretas que busquen el bien común.
          <br>
          <br>
          En la plataforma cualquier persona, organización, colectivo o grupo de personas pueden generar sus propias propuestas que aborden los temas que más les preocupan o inquietan. Desde Propuestas Ciudadanas presentaremos y haremos llegar las propuestas a los miembros del Comité de Gobierno Abierto. Estas se podrán comprometer en la misma plataforma a llevarlas a cabo y cumplirlas en caso de resultar electas.
          <br>
          <br>
          Una vez subidas en la página, cualquier persona puede conocer y apoyar las propuestas a través de un “APOYAR ”. Además, las organizaciones no gubernamentales que participan en la plataforma pueden patrocinar propuestas de otras personas u organizaciones.
          <br>
          <br>
          Desde Gobierno Abierto promovemos que las propuestas sean construidas colectivamente. Para eso, Red Ciudadana ha creado una Metodología de Encuentro para que la creación de las propuestas sea un espacio de convivencia y diálogo entre personas, amigos, vecinos y comunidades. Juntas de vecinos, clubes deportivos, sindicatos, gremios, colectivos y organizaciones de todo tipo están invitados a hacer sus propuestas y a organizar encuentros para debatir en conjunto acerca del país que la ciudadanía sueña. 
          Esta plataforma de propuestas ciudadanas, se crea bajo la línea de cumplir y defender los principios de un Gobierno Abierto y transparente. Cuando el gobierno trabaja con la sociedad civil para crear planes de acción con reformas concretas y cuando el ciudadano y ciudadana asume su responsabilidad y compromiso de participar activamente, se fortalece la democracia y las instituciones se vuelven más democráticas. Crear propuestas ayuda a garantizar que los ciudadanos desempeñen un papel en la configuración y supervisión del Gobierno. <strong>¡porque es #Gobierno Abierto!</strong>
        {% endblocktrans %}
      </p>
    </div>
  </div>
  <div class="line-space"></div>
  <div class="line-space"></div>
</section>


{% endblock everything %}
