{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load bootstrap3 %}
{% load votainteligente_extras %}
{% load el_pagination_tags %}

<!-- Inicio _lista_propuestas -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.1/jquery.form.min.js"></script>
<script>
$(function(){
$('.loadFromUrl').on('show.bs.modal', function (event) {
var anchor = $(event.relatedTarget) // Button that triggered the modal
var modal = $(this)
var body = modal.find('.modal-body');
body.load(anchor.data('url'));
})
$('[data-toggle="tooltip"]').tooltip();
});
</script>
{% if not hidden_search %}
    <p class="bajada text-center">
      Te invitamos a filtrar y encontrar propuestas en las áreas temáticas <br>
      sobre las cuales se co crearán compromisos e hitos tomando como base <br>
      al Eje validado <strong>Transparencia en la Gestión Pública y Presupuesto del Estado</strong>
    </p>
    {% include 'popular_proposal/_filter_tag_form.html' %}
    {% if clasification_description %}
      <p class="bajada text-center padding-section" style="max-width: 600px; margin: auto;font-size: 10px; padding-top: 10px;">
        <strong>
          {% trans clasification_title %}
        </strong>
        <br>
        {% trans clasification_description %}
      </p>
    {% endif %}
    <div class="dark">
        {% include 'popular_proposal/_filter_form.html' %}
    </div>
    <div class="container padding-section">
      <div class="row">
        <div class="col-12">
          {% if not hide_proposal_list_header %}
            {% if form.is_filled_search %}
            <h3 class="text-center proposals_count">{% blocktrans with proposals_count=popular_proposals|length %}
              Hay {{proposals_count}}
            {% endblocktrans %}
              {% if not tipo_propuestas %}{% trans "propuestas ciudadanas" %}{% else %}{{tipo_propuestas}}{% endif %}
              {% trans "con tus criterios de búsqueda seleccionados" %}</h3>
            {% else %}
            <h3 class="text-center proposals_count">{% blocktrans with proposals_count=popular_proposals|length %}
              Hay {{proposals_count}}
            {% endblocktrans %} {% if not tipo_propuestas %}{% trans "propuestas ciudadanas" %}{% else %}{{tipo_propuestas}}{% endif %}</h3>
            {% endif %}
            {% if not user|is_candidate and not hidden_create_proposal_button %}
              {% url 'popular_proposals:propose_wizard_full' as create_proposal_url %}
              <div class="text-center"><a href="{{create_proposal_url}}" class="btn btn-success">{% trans "Crear nueva propuesta" %}</a></div>
            {% endif %}
        {% endif %}
        </div>
      </div>
    </div>
{% endif %}
<div class="container-light">
  <!-- inicio grid -->
  <div class="container padding-section">
    <div id="grid">
      <div id="posts">
      {% paginate 30 popular_proposals %}
      {% for proposal in popular_proposals %}
          {% display_proposal_card proposal %}
        {% empty %}
        {% url 'popular_proposals:propose_wizard_full' as create_proposal_url %}
          <p class="bg-info text-center">
            {% trans "Aún no se han generado propuestas para esta búsqueda." %}
          </p>
      {% endfor %}

      </div>
      {% show_pages %}
    </div>
  </div>
  <!-- fin grid -->
  <div class="container" id="raiseToTop">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <a href="#top" title="ir arriba"><i class="fa fa-arrow-up fa-2x pull-right" style="display:none"></i></a>
      </div>
    </div>
  </div>
  <!-- Fin _lista_propuestas -->
  {% if not hidden_bars %}
    <img src="{% static 'img/slider/barras.png' %}" class="img-responsive w-100" alt="Barras de colores">
  {% endif %}
</div>
