{% load i18n %}
<h4>{% trans "Términos y Condiciones" %}</h4>
<p> </p>
{% blocktrans  %}
<p>
  Las propuestas que inciten al odio o discriminación por razones políticas, sexuales, de credo,
  género, étnicas o raciales, serán rechazadas inmediatamente. Este es un espacio exclusivo para
  propuestas ciudadanas.
</p>

<p>
  Las propuestas tampoco pueden:
</p>
<ul style="list-style-type:disc">
  <li>
    Promover causas de carácter privado, y no público.
  </li>
  <li>
    Promover acciones que escapen a las facultades del Gobierno.
  </li>
  <li>
    Promover causas particulares y no de interés colectivo.
  </li>
</ul>

<p>
  Escaparse de los principios democráticos. Creemos que la base de la democracia es la creencia de
  que todos los ciudadanos deben tener derecho al mismo nivel de incidencia sobre las decisiones
  de nuestra comunidad.
</p>

Nos autorizas para que te notifiquemos cuando:
<ul style="list-style-type:disc">
  <li>Una organización quiera apoyar tu propuesta.</li>
  <li>Una institución pública se comprometa con tu propuesta.</li>
</ul>
{% endblocktrans %}
