{% extends "backend_base.html" %}
{% load staticfiles %}
{% load votainteligente_extras %}
{% load i18n %}
{% load thumbnail %}
{% load bootstrap3 %}

{% block content %}
{% include 'modal.html' with modalId='proposalComments' title='Actualiza los comentarios' %}
{% include 'modal.html' with modalId='moderateProposal' title='¿Deseas aceptar la Propuesta Popular?' %}

<div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/jquery.gridAccordion.min.js' %}"></script>
  <!-- Featured Elections  -->
  <div class="contenedorDestacado fondo-blanco">
    <p>{% trans "Aquí podrás ver y moderar los elementos de Gobierno Abierto " %}</p>
    <a class="btn btn-link" href="{% url 'backend_staff:list_of_popular_proposal' %}">
        Ver propuestas
    </a>
    <a class="btn btn-link" href="{% url 'backend_staff:list_of_popular_proposal_csv' %}" target="_blank">
        Descargar propuestas
    </a>
  </div>
</div>
<script>
$(function(){
    $('.masInfo').popover({
        'html': true,
        'delay': { "show": 500, "hide": 100 }
    });
})
function accept_moderation(url){
      $.post(url, {
        'csrfmiddlewaretoken': "{{ csrf_token }}"
        }, function(){
            location.reload();
        })
}
</script>
{% endblock content %}

{% block extrafooter %}
{% endblock extrafooter %}
